<launch>
    <node pkg="tf" type="static_transform_publisher" name="psm1_world" args="-0.4 0 0.5 -0.78 0 0 world one_psm_base_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="psm2_world" args="-0.169 -0.025 0.339 1.423 0.693 1.218 world two_psm_base_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="ecm_world"  args="-0.260 -0.008 0.423 -0.046 0.739 -0.398 world ecm_base_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="ecm_roll"  args="0.0 0.0 -0.01 -1.571 0.0 3.142 ecm_base_link ecm_roll_link 10" />
    <node pkg="tf" type="static_transform_publisher" name="fake_cam_world" args="-0.7 0.0 -0.5 -1.56 0 -1.56 world fake_camera_link 200" />

    <node pkg="fakecam" type="fakecam_info.py" name="fakecam"/>

    <!-- <node pkg="time_filter" type="time_filter.py" name="time_filter" output="screen"/> -->
    <node pkg="time_filter" type="optim_cal.py" name="time_filter" output="screen"/>
</launch>
